In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import re
import string

In [2]:
datahalal=pd.read_csv('Hasil Crawl Halal MUI.csv')
datahalal=datahalal.drop_duplicates(subset=['nama'], keep='last')
datahalal

,Unnamed: 0,id,no,nama,produsen,sertif,tanggal
0,0,109,21949,cyber park karawaci lt. 2 (head office),"Pt. matahari putra prima, tbk",Hs1a20415/032020/mpp,17-march-2022
1,1,121,21949,foodmart surabaya town square,"Pt. matahari putra prima, tbk",Hs1a20415/032020/mpp,17-march-2022
2,2,95,21949,hypermart batam tanjung pinang,"Pt. matahari putra prima, tbk",Hs1a20415/032020/mpp,17-march-2022
3,3,66,21949,hypermart bau bau,"Pt. matahari putra prima, tbk",Hs1a20415/032020/mpp,17-march-2022
4,4,45,21949,hypermart ciputra world surabaya,"Pt. matahari putra prima, tbk",Hs1a20415/032020/mpp,17-march-2022
...,...,...,...,...,...,...,...
401645,401645,3,7790,장군 olive oil laver,Asia food co.-korea,00100082470417,"08-october-2021"""
401646,401646,4,12758,한상궁 delicious scorched brown rice,"Hando food co., ltd",00100086820118,"25-february-2022"""
401647,401647,2,12758,한상궁 delicous scorched barley and rice,"Hando food co., ltd",00100086820118,"25-february-2022"""
401648,401648,1,12758,한상궁 delicous scorched rice,"Hando food co., ltd",00100086820118,"25-february-2022"""
401649,401649,3,12758,한상궁 organic delicious scorched rice,"Hando food co., ltd",00100086820118,"25-february-2022"""

In [3]:
datahalal.groupby(["produsen"]).count().sort_values("nama",ascending=False).head(5)

,Unnamed: 0,id,no,nama,sertif,tanggal
produsen,,,,,,
Pt. immortal cosmedika indonesia,4496,4496,4496,4496,4496,4496
"Jangkar nusantara megah, pt",1962,1962,1962,1962,1962,1962
Pt. cosmax indonesia,1463,1463,1463,1463,1463,1463
Pt. paragon technology and innovation,1444,1444,1444,1444,1444,1444
"Sagara purnama, pt",1403,1403,1403,1403,1403,1403

In [4]:
query="ketan bawang"
qlist=query.lower().split()
query="|".join(qlist)
query

'ketan|bawang'

In [5]:
mask = datahalal[datahalal['nama'].str.contains(query) | datahalal['produsen'].str.contains(query,case=False)]
mask

,Unnamed: 0,id,no,nama,produsen,sertif,tanggal
920,920,5,22860,"Bawang goreng lombok ijo "" simbok bawang goreng",NaN,NaN,NaN
921,921,1,22860,"Bawang goreng simbok original "" simbok bawang ...",NaN,NaN,NaN
922,922,3,22860,"Bawang goreng simbok rasa ebi "" simbok bawang ...",NaN,NaN,NaN
923,923,2,22860,"Bawang goreng simbok rasa pedas "" simbok bawan...",NaN,NaN,NaN
924,924,4,22860,"Bawang goreng simbok rasa teri medan "" simbok ...",NaN,NaN,NaN
...,...,...,...,...,...,...,...
401549,401549,6,39727,Zhiyuk crunchy (kacang bawang) 250 gram rasa d...,Zhiyuk crunchy,06100016291120,"27-november-2022"""
401550,401550,3,39727,Zhiyuk crunchy (kacang bawang) 250 gram rasa o...,Zhiyuk crunchy,06100016291120,"27-november-2022"""
401551,401551,5,39727,Zhiyuk crunchy (kacang bawang) 400 gram rasa d...,Zhiyuk crunchy,06100016291120,"27-november-2022"""
401552,401552,2,39727,Zhiyuk crunchy (kacang bawang) 400 gram rasa o...,Zhiyuk crunchy,06100016291120,"27-november-2022"""
401553,401553,1,39727,Zhiyuk crunchy (kacang bawang) 600 gram rasa o...,Zhiyuk crunchy,06100016291120,"27-november-2022"""

In [6]:
mask=mask.reset_index()

In [7]:
def jaccard_similarity(list1, list2):
    s1 = set(list1)
    s2 = set(list2)
    return float(len(s1.intersection(s2)) / len(s1.union(s2)))

In [8]:
def get_response(q):
    similarity=np.zeros((len(mask)))
    for ind in mask.index:
        nama_produk = str(mask['nama'][ind])
        nama_produsen = str(mask['produsen'][ind])
        line=nama_produk+' '+nama_produsen
        if (type(line)==str):
            qlist=q.lower().split()
            linelist=line.lower().split()
            similarity[ind]=jaccard_similarity(qlist,linelist)
    ##idx = np.argmax(similarity)
    ##if(similarity[idx]<=0.4):
        ##idx=2083
    idx=(-similarity).argsort()[:1]
    return(idx)

In [9]:
def get_response1(q):
    similarity=np.zeros((len(mask)))
    for ind in mask.index:
        nama_produk = str(mask['nama'][ind])
        nama_produsen = str(mask['produsen'][ind])
        line=nama_produk+' '+nama_produsen
        if (type(line)==str):
            qlist=q.lower().split()
            linelist=line.lower().split()
            similarity[ind]=jaccard_similarity(qlist,linelist)
    ##idx = np.argmax(similarity)
    idx=(-similarity).argsort()[:1]
    return(similarity[idx])

In [10]:
def get_response2(q):
    similarity=np.zeros((len(mask)))
    for ind in mask.index:
        nama_produk = str(mask['nama'][ind])
        nama_produsen = str(mask['produsen'][ind])
        line=nama_produk+' '+nama_produsen
        if (type(line)==str):
            qlist=q.lower().split()
            linelist=line.lower().split()
            similarity[ind]=jaccard_similarity(qlist,linelist)
    idx = np.argmax(similarity)
    ##if(similarity[idx]<=0.4):
        ##idx=2083
    ##idx=(-similarity).argsort()[:1]
    return(idx)

In [11]:
q="Aqua Air Mineral 1500Ml"
nums=get_response(q)
items=[]
##q3 = get_response1(q)    
##data.append(q3)
for y in nums:
    items.append([mask['nama'][y], mask['produsen'][y], mask['sertif'][y],mask['tanggal'][y]])
##data.append(items)

In [12]:
df = pd.DataFrame(items, columns=['nama', 'produsen','sertifikat','tanggal'])
df

,nama,produsen,sertifikat,tanggal
0,"Bawang goreng lombok ijo "" simbok bawang goreng",NaN,NaN,NaN

In [13]:
q="Aqua Air Mineral 1500Ml"
x=get_response(q)
print(x)

[0]

In [14]:
docs2 = pd.read_csv('mergebersihindo.csv')
docs2=docs2.drop_duplicates(subset=['nama_produk'],keep='last')
docs2 = docs2.drop('Unnamed: 0', 1)
docs2

,komposisi,nama_produk
1,NaN,Pristine 8+ Air Mineral
2,NaN,Crystalline Air Mineral
4,"Calcium, magnesium, sodium, potassium, nitrate...",Le Minerale Air Mineral
7,Air mineral,Club Air Mineral
8,NaN,Aqua Galon Kosong + Isi Ulang
...,...,...
1327,"Air, keju cheddar, pengental pati modifikasi a...",Pro Chiz Keju Gold
1329,biji bunga canola.BPOM RI ML 210216001071Diimp...,Dougo Canola Oil
1330,"Minyak nabati, air, garam, pengemulsi monodigl...",Blue Band Margarine Serbaguna
1331,NaN,Blue Band Margarine Cake & Cookie
1332,Minyak zaitun ratinasi dan minyak zaitun.,Bertolli Olive Oil Extra Light

In [15]:
items = []

In [16]:
for i, row in docs2.iterrows():
    q = row['nama_produk']
    nums=get_response(q)
    for y in nums:
        ##q3 = get_response1(q)
        items.append([mask['nama'][y], mask['produsen'][y], mask['sertif'][y],mask['tanggal'][y]])

    ##items.append(q1+"|"+jawab[get_response(q1)]+"|"+q2)

In [17]:
df = pd.DataFrame(items, columns=['nama', 'produsen','sertifikat','tanggal'])
df

,nama,produsen,sertifikat,tanggal
0,Prima freshmart bawang putih,Pt. pristine prima lestari,00060077350616,"28-july-2022"""
1,"Bawang goreng lombok ijo "" simbok bawang goreng",NaN,NaN,NaN
2,Kacang bawang le zaat,Instalasi gizi rsi. jemursari surabaya,07160066161119,"01-november-2021"""
3,"Bawang goreng lombok ijo "" simbok bawang goreng",NaN,NaN,NaN
4,Cakmie isi,Cv. bawang merah bawang putih,07340061720719,"25-july-2021"""
...,...,...,...,...
1206,Bihun geprek keju,Ppkopsmg home geprek bawang,15100070740321,"19-march-2023"""
1207,Minyak bawang / fried shallot oil,Pt. neopangan selaras indonesia,00080100161119,"19-november-2021"""
1208,Ocean blue ice,Cv. bawang merah bawang putih,07340061720719,"25-july-2021"""
1209,Cake ketan hitam,"Sekawanidea, cv",15160004490611,"23-october-2022"""
1210,Minyak bawang / fried shallot oil,Pt. neopangan selaras indonesia,00080100161119,"19-november-2021"""

In [18]:
jac = []

In [19]:
for i, row in docs2.iterrows():
    q = row['nama_produk']
    nums=get_response1(q)
    jac.append(nums)

In [20]:
jaccard = pd.DataFrame(jac, columns=['jaccard'])
jaccard

       jaccard
0     0.100000
1     0.000000
2     0.083333
3     0.000000
4     0.090909
...        ...
1206  0.111111
1207  0.083333
1208  0.100000
1209  0.100000
1210  0.071429

[1211 rows x 1 columns]

In [21]:
match = jaccard.sort_values(['jaccard'], ascending=False)
match

       jaccard
448   0.777778
364   0.750000
441   0.625000
484   0.600000
318   0.555556
...        ...
903   0.000000
66    0.000000
67    0.000000
909   0.000000
1055  0.000000

[1211 rows x 1 columns]

In [22]:
halalxindo = docs2.merge(df, how='left', on=docs2['nama_produk'])
halalxindo = halalxindo.drop('key_0', 1)
halalxindo = halalxindo.drop_duplicates(subset=['nama_produk'],keep='last')
halalxindo

,komposisi,nama_produk,nama,produsen,sertifikat,tanggal
0,NaN,Pristine 8+ Air Mineral,Prima freshmart bawang putih,Pt. pristine prima lestari,00060077350616,"28-july-2022"""
1,NaN,Crystalline Air Mineral,"Bawang goreng lombok ijo "" simbok bawang goreng",NaN,NaN,NaN
2,"Calcium, magnesium, sodium, potassium, nitrate...",Le Minerale Air Mineral,Kacang bawang le zaat,Instalasi gizi rsi. jemursari surabaya,07160066161119,"01-november-2021"""
3,Air mineral,Club Air Mineral,"Bawang goreng lombok ijo "" simbok bawang goreng",NaN,NaN,NaN
4,NaN,Aqua Galon Kosong + Isi Ulang,Cakmie isi,Cv. bawang merah bawang putih,07340061720719,"25-july-2021"""
...,...,...,...,...,...,...
1206,"Air, keju cheddar, pengental pati modifikasi a...",Pro Chiz Keju Gold,Bihun geprek keju,Ppkopsmg home geprek bawang,15100070740321,"19-march-2023"""
1207,biji bunga canola.BPOM RI ML 210216001071Diimp...,Dougo Canola Oil,Minyak bawang / fried shallot oil,Pt. neopangan selaras indonesia,00080100161119,"19-november-2021"""
1208,"Minyak nabati, air, garam, pengemulsi monodigl...",Blue Band Margarine Serbaguna,Ocean blue ice,Cv. bawang merah bawang putih,07340061720719,"25-july-2021"""
1209,NaN,Blue Band Margarine Cake & Cookie,Cake ketan hitam,"Sekawanidea, cv",15160004490611,"23-october-2022"""
1210,Minyak zaitun ratinasi dan minyak zaitun.,Bertolli Olive Oil Extra Light,Minyak bawang / fried shallot oil,Pt. neopangan selaras indonesia,00080100161119,"19-november-2021"""

In [23]:
jaccardxhalal = halalxindo.merge(jaccard, how='left', on=halalxindo['nama'])
jaccardxhalal = jaccardxhalal.drop_duplicates(subset=['nama_produk'],keep='last')
jaccardxhalal = jaccardxhalal.drop('key_0', 1)
jaccardxhalal

,komposisi,nama_produk,nama,produsen,sertifikat,tanggal,jaccard
0,NaN,Pristine 8+ Air Mineral,Prima freshmart bawang putih,Pt. pristine prima lestari,00060077350616,"28-july-2022""",0.100000
59,NaN,Crystalline Air Mineral,"Bawang goreng lombok ijo "" simbok bawang goreng",NaN,NaN,NaN,0.000000
60,"Calcium, magnesium, sodium, potassium, nitrate...",Le Minerale Air Mineral,Kacang bawang le zaat,Instalasi gizi rsi. jemursari surabaya,07160066161119,"01-november-2021""",0.083333
119,Air mineral,Club Air Mineral,"Bawang goreng lombok ijo "" simbok bawang goreng",NaN,NaN,NaN,0.000000
120,NaN,Aqua Galon Kosong + Isi Ulang,Cakmie isi,Cv. bawang merah bawang putih,07340061720719,"25-july-2021""",0.090909
...,...,...,...,...,...,...,...
17997,"Air, keju cheddar, pengental pati modifikasi a...",Pro Chiz Keju Gold,Bihun geprek keju,Ppkopsmg home geprek bawang,15100070740321,"19-march-2023""",0.111111
18003,biji bunga canola.BPOM RI ML 210216001071Diimp...,Dougo Canola Oil,Minyak bawang / fried shallot oil,Pt. neopangan selaras indonesia,00080100161119,"19-november-2021""",0.071429
18004,"Minyak nabati, air, garam, pengemulsi monodigl...",Blue Band Margarine Serbaguna,Ocean blue ice,Cv. bawang merah bawang putih,07340061720719,"25-july-2021""",0.100000
18008,NaN,Blue Band Margarine Cake & Cookie,Cake ketan hitam,"Sekawanidea, cv",15160004490611,"23-october-2022""",0.100000
18014,Minyak zaitun ratinasi dan minyak zaitun.,Bertolli Olive Oil Extra Light,Minyak bawang / fried shallot oil,Pt. neopangan selaras indonesia,00080100161119,"19-november-2021""",0.071429

In [24]:
match = jaccardxhalal.sort_values(['jaccard'], ascending=False)
match

,komposisi,nama_produk,nama,produsen,sertifikat,tanggal,jaccard
6572,"""Kacang Polong (72.9%), Minyak Sawit (mengandu...",Dua Kelinci Kacang Polong Polongmas Barbeque,Dua kelinci polongmas kacang polong rasa ayam ...,Pt. dua kelinci,00100017571001,"28-july-2022""",0.777778
6574,"Kacang Polong (71.98%), Minyak Sawit (mengandu...",Dua Kelinci Kacang Polong Polongmas Ayam Bawang,Dua kelinci polongmas kacang polong rasa ayam ...,Pt. dua kelinci,00100017571001,"28-july-2022""",0.777778
7222,"Kacang tanah, tapioka, garam, gula, bawang put...",Kacang Bawang Oven,Kacang bawang oven,Ud. suryadi,03100025630719,"09-july-2021""",0.600000
13911,"Tepung terigu, tapioka, bawang putih, garam & ...",Indomaret Kerupuk Bawang,Kerupuk bawang,Jangkar,01101257081220,"22-december-2022""",0.500000
11233,"Bawang merah, garam, bumbu, minyak nabati.",Indomaret Bawang Merah Goreng,Tusanco bawang merah goreng,Ud. tusanco,00060107541020,"13-october-2022""",0.500000
...,...,...,...,...,...,...,...
1226,"Air, gula, susu bubuk, 1.8%, konsentrat ari bu...",Nutriboost Mango,"Bawang goreng lombok ijo "" simbok bawang goreng",NaN,NaN,NaN,0.000000
1285,"Air, gula, susu bubuk, 1.8%, konsentrat ari bu...",Nutriboost Apple,"Bawang goreng lombok ijo "" simbok bawang goreng",NaN,NaN,NaN,0.000000
15079,NaN,Alpenliebe Candy Choco Mint,"Bawang goreng lombok ijo "" simbok bawang goreng",NaN,NaN,NaN,0.000000
5776,NaN,Chui Hiang Pistachio Nuts,"Bawang goreng lombok ijo "" simbok bawang goreng",NaN,NaN,NaN,0.000000
16701,"Sawi putih, garam, gula, gochukaru, bawang put...",Mujigae Kimchi,"Bawang goreng lombok ijo "" simbok bawang goreng",NaN,NaN,NaN,0.000000

In [25]:
match.to_csv(r'sortjaccardhalalxindomergebersih1.csv')